html {
  scroll-behavior: smooth;
}

body {
  color: #161616;
}

a {
  color: #161616;
}

.visually-hidden {
  display: none;
}

.section-tagline.card-category {
  color: #D73953;
}

/*
Split all
body {
  color: #161616;
}

a {
 color: #161616; 
}

.card-category {
  color: #D73953;
}

.section-tagline {
  color: #D73953;
} 
*/
